.root {
	-fx-font-family: "System";
	-fx-font-size: 13px;
	-fx-alignment: center;
}

.table-view.tabla-centrada .table-cell {
    -fx-alignment: center;
}



.login {
-fx-background-color: white;
-fx-border-color: #9ACBD0;
-fx-border-radius: 6;
-fx-background-radius: 6;
-fx-padding: 10px;
-fx-font-size: 12px;
-fx-text-fill: #333;
-fx-prompt-text-fill: #888;
-fx-pref-width: 180px;
-fx-pref-height: 10px;
}
.text-fielddd {
-fx-background-color: white;
-fx-border-color: #9ACBD0;
-fx-border-radius: 6;
-fx-background-radius: 6;
-fx-padding: 10px;
-fx-font-size: 11px;
-fx-text-fill: #333;
-fx-prompt-text-fill: #888;
-fx-pref-width: 180px;
-fx-pref-height: 10px;
}

.Managerbutton {
-fx-background-color: #037bfc;
-fx-text-fill: white;
-fx-padding: 10px;
-fx-pref-width: 100px;
-fx-pref-height: 8px;

-fx-font-weight: bold;
-fx-background-radius: 6;
-fx-cursor: hand;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 3, 0, 0, 9);
}
.Loginbutton {
-fx-background-color: linear-gradient(to bottom, #292f56, #1e4572);
-fx-text-fill: white;
-fx-padding: 10px;
-fx-pref-width: 100px;
-fx-pref-height: 8px;
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-background-radius: 6;
-fx-cursor: hand;
-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 3, 0, 0, 9);
}



.button:hover {
-fx-background-color: #037bfc;
}
